<!DOCTYPE html>
<html>
<head>
    <title>Edit Employee</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel='stylesheet' href='/stylesheets/toolbar.css' />
</head>
<body>
    <div class="topnav">
        <a class="active" , href="/home">Home</a>
        <a href="#CreateNewIncident">Create New Incident</a>
        <a href="/incident">Open Incident</a>
        <a href="#ply">PLY</a>
        <a href="#has">HAS</a>
        <a href="#Search">Search</a>
        <input type="text" placeholder="Site Search...">
    </div>
    <div class="sidenav">
        <a href="/home">IMT-Home</a>
        <a href="/incident/create">Create New Incident</a>
        <a href="/incident">Open Incidents</a>
        <a href="#QuickList">Quick List</a>
        <a href="#TTT">Transitory Team Referral</a>
        <a href="#over21days">Open Over 21 days</a>
        <a href="#AAC-consulation">AAC Consultation</a>
        <a href="#Stage 3">Stage3</a>
        <a href="#Segment 5">Segment 5</a>
        <a href="#LocalTriage">Local Triage</a>
    </div>


    <div class="container">
        <h3><!--a href="/employees"--> ><!--Incident List -> <!--/a -->  <!--/h3--> 
        <h1>Edit Employee</h1>
        <form action="/employees/update/<%= employee._id%>" method="post">
            <table>
                <tbody>

 		   
                    <tr>
                        <td>Name</td>
                        <td><input type="text" name="raisedby" value="<%= employee.raisedby %>" /></td>
                    </tr>
                    <tr>
                        <td>Location</td>
                        <td><textarea name="location"><%= employee.location %></textarea></td>
                    </tr>
                    <tr>
                        <td>Tem Leader</td>
                        <td><input type="text" name="teamleader" value="<%= employee.teamleader %>" /></td>
                    </tr>
                    <tr>
                        <td>Team</td>
                        <td><input type="text" name="team" value="<%= employee.team %>" /></td>
                    </tr>
		    <tr>
                        <td>Update</td>
                        <td><textarea name="otherupdates"></textarea></td>
                    </tr>
                    <tr>
                        <td colspan="2"><button type="submit">Save Update</button></td>
                    </tr>

   		    
                </tbody>
            </table>
        </form>
    </div>
</body>
</html>
